## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options directory
.vs/

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Others
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

## macOS
.DS_Store

## Backup files
*.bak
*.backup
